{% extends "base.html" %}

{% block title %} Boggle {% endblock %}

{% block content %}

<table>
  {% for row in boggle_board %}
  <tr>
    {% for letter in row %}
    <td>{{ letter }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

<p>High Score: {{ session['highest_score'] }} in {{ session['number_plays'] }} plays</p>

<p>Score: <span id="current-score">0</span> Seconds Left: <span id="seconds-left">60</span></p>

<form id="form" action="/">
  <input id="guess" type="text" name="user_guess" value="best">
  <button>Enter</button>
</form>

<div id="result_message" hidden></div>

{% endblock %}